<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="{{ path('app_produit_index') }}">My produit App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{{ path('app_produit_index') }}">produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{{ path('app_categorie_index') }}">Categories</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
</html>
